html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
}
body {
  background: rgb(0,0,0);/*
background: -moz-linear-gradient(0deg, rgba(99,64,122,1) 10%, rgba(198,103,103,1) 77%, rgba(201,127,21,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(99,64,122,1) 10%, rgba(198,103,103,1) 77%, rgba(201,127,21,1) 100%);
background: linear-gradient(0deg, rgba(99,64,122,1) 10%, rgba(198,103,103,1) 77%, rgba(201,127,21,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#63407a",endColorstr="#c97f15",GradientType=1);                */
  position: relative;
}
#starfield {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #000;
  background:transparent;
}


h1 {
  position: relative;
  z-index: 0;
  color: white;
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 35pt;
  letter-spacing: 3px;
  margin-top: 10%;
}

h2 {
  position: relative;
  z-index: 0;
  color: white;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  margin-top: 2%;
}

h3 {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

h4 {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  text-decoration: underline;
}

a {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  z-index: 1;
  color: white;
}