#Title {
  font-size: 90pt;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: 'Comfortaa', cursive;
}
section.module.parallax-1 {
  background-image: url("https://japandeluxetours.com/uploads/2015/02/20150227012905_54f02ad146624.jpg");
}
section.module.parallax-2 {
  background-image: url("http://www.strath.ac.uk/media/1newwebsite/imagesbysize/1600x600/Electronics.jpg");
}
section.module.parallax-3 {
  background-image: url("http://www.whitecase.com/sites/whitecase/files/images/hero/publications/DataCentres_Hero_1600x600.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}